<div class="container">
  <div class="jumbotron text-center">
    <div class="row" align="center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 id="mainTitle">Join Phiv-Hub today!</h1>
      </div>
      <div  class="col-lg-12 col-md-12 col-sm-12">
        <img class="img-responsive" src="images/homeIcon.png">
      </div>
      <div  class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 20px">
        <button id="btnLogin" type="button" class="btn btn-danger">Get started!</button>
      </div>

      <div id="loginModal" class="modal">
        <div class="modal-content">
          <div class="modal-header" style="background: red">
            <span class="close">×</span>
            <h2>Access Phiv-Hub!</h2>
          </div>
          <div class="modal-body">
            <div class="row" style="padding-top: 20px;">
              <label for="usrnm" class="ui-hidden-accessible">Username:</label>
              <input type="text" name="user" id="usrnm" placeholder="Username">
            </div>
            <div  class="row" style="padding-top: 10px;">
              <label for="pswd" class="ui-hidden-accessible">Password:</label>
              <input type="password" name="passw" id="pswd" placeholder="Password">
            </div>

            <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
              <div class="container">
                <button type="button" ng-click="click(this.file)" class="btn btn-default" data-dismiss="loginModal">Login</button>
                <div class="divider"/>
                <button type="button" id="registerBtn" onclick="window.location.href='#/Registration'" class="btn btn-default" data-dismiss="loginModal">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

</script>
