<div class="container">
  <h1>Phylogenetic Trees</h1>
  <div class="container-fluid" align="center">
    <div class="row" align="center">
      <div class="col-lg-12 col-md-12 col-sm-12" align="center">
          <div id="groupBtn" align="center" class="btn-group" style="align-content: center; width: 60%; height: 60%">
              <a href="#/FileList" class="btn btn-default">
                <img class="img-responsive" src="images/tree.png"/>
                <h2>Stored Trees</h2>
              </a>
              <a href="#/FileSelection" class="btn btn-default">
                <img class="img-responsive" src="images/sprout.png"/>
                <h2>File Manager</h2>
              </a>
          </div>
      </div>
    </div>
  </div>
</div>
