<div class="container">
  <h1>Phylogenetic Trees</h1>
  <div class="container-fluid">
    <div class="row">
      <div id="groupBtn" align="center" class="btn-group btn-group-justified"  style="width: 60%; height: 60%">
        <a href="#/FileSelection" class="btn btn-default">
          <img class="img-responsive" src="images/tree.png">
          <h1>Stored files</h1>
        </a>
        <a href="#/FileUpload" class="btn btn-default">
          <img class="img-responsive" src="images/sprout.png">
          <h1>New files</h1>
        </a>
      </div>
    </div>
  </div>
</div>
